/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-4);
}

.dashboard-grid > .dashboard-log {
  grid-column: 1 / -1;
}

@media (max-width: 768px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}

.developer-avatar {
  align-items: center;
  border-radius: var(--rounded-full);
  color: white;
  display: flex;
  font-size: var(--text-xs);
  font-weight: var(--font-bold);
  block-size: var(--size-8);
  inline-size: var(--size-8);
  justify-content: center;
  text-shadow: 0 1px 2px rgb(0 0 0 / .3);
  flex-shrink: 0;
}
